.profile-button{
    background-color: #9D9D9D;
}

.profile-button-N:hover{
    background-color: white;
    color: #9F86C0;
    transition: all 0.7s ease;
}

.profile-button-F:hover{
    background-color: white;
    color: #5C5CD6;
    transition: all 0.7s ease;
}

.profile-button-J:hover{
    background-color: white;
    color: #B73E40;
    transition: all 0.7s ease;
}

.profile-button-D:hover{
    background-color: white;
    color: #6EC080;
    transition: all 0.7s ease;
}

.footer-text{
    color: white;
}

.card { transition: transform 0.3s ease; }
